---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import FirstCarrousel from "../components/FirstCarrousel.astro";
import Nav from "../components/Nav.astro";
import Main from "../components/Main.astro";
import Footer from "../components/Footer.astro";
import ArrowRight from "../components/icons/ArrowRight.astro";
---

<Layout title="Welcome to Astro.">
  <div class="container">
    <header class="header">
      <Header />
    </header>

    <div class="mini-nav">
      <ArrowRight />
    </div>

    <div class="nav">
      <Nav />
    </div>

    <div class="aside">
      <FirstCarrousel />
    </div>

    <section class="main">
      <Main />
    </section>

    <footer class="footer">
      <Footer />
    </footer>
  </div>
</Layout>

<style>
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 75px 1fr 1fr 1fr;
    min-height: 100vh;
    grid-template-areas:
      "header header mini-nav"
      "aside aside aside"
      "main main main"
      "footer footer footer";
  }
  .header {
    background-color: rgb(78, 1, 1);
    grid-area: header;
  }
  .nav {
    background-color: rgba(43, 29, 0, 0.882);
    grid-area: nav;
    display: none;
  }
  .mini-nav {
    background-color: blue;
    grid-area: mini-nav;
  }

  .aside {
    background-color: rgb(1, 1, 68);
    grid-area: aside;
  }
  .main {
    background-color: rgb(3, 114, 114);
    grid-area: main;
  }
  .footer {
    background-color: rgb(78, 22, 2);
    grid-area: footer;
  }

  @media (width >= 500px) {
    .container {
      grid-template-areas:
        "header nav nav"
        "aside aside aside"
        "main main main"
        "footer footer footer";
    }
    .header {
      background-color: rgba(0, 183, 183, 0.914);
    }
    .nav {
      display: block;
    }
  }
</style>
