---
import FirstCarrousel from "../components/FirstCarrousel.astro";
import Layout from "../layouts/Layout.astro";
import ArrowRight from "../components/ArrowRight.astro";
---

<Layout title="Welcome to Astro.">
  <div class="container">
    <div class="header">
      <h1 class="first-h1">Slimbuuk</h1>
    </div>
    <div class="mini-nav">
      <ArrowRight />
    </div>
    <div class="nav">
      <nav>
        <ul class="listUp">
          <li class="list">lorem su</li>
          <li class="list">lorem su</li>
          <li class="list">lorem su</li>
        </ul>
      </nav>
    </div>
    <div class="aside">
      <FirstCarrousel />
    </div>
    <div class="main"></div>
    <div class="footer"></div>
  </div>
</Layout>

<style>
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60px 1fr 1fr 1fr;
    min-height: 100vh;
    grid-template-areas:
      "header header mini-nav"
      "aside aside aside"
      "main main main"
      "footer footer .";
  }
  .header {
    background-color: rgb(78, 1, 1);
    grid-area: header;
  }
  .nav {
    background-color: rgba(43, 29, 0, 0.882);
    grid-area: nav;
    display: none;
  }
  .mini-nav {
    background-color: blue;
    grid-area: mini-nav;
  }
  .listUp {
    display: flex;
    flex-direction: row;
    font-size: 20px;
  }
  .list {
    padding-inline: 10px;
    list-style: none;
  }
  .aside {
    background-color: rgb(1, 1, 68);
    grid-area: aside;
  }
  .main {
    background-color: rgb(3, 114, 114);
    grid-area: main;
  }
  .footer {
    background-color: rgb(78, 22, 2);
    grid-area: footer;
  }

  @media (width >= 500px) {
    .container {
      grid-template-areas:
        "header nav nav"
        "aside aside aside"
        "main main main"
        "footer footer .";
    }
    .header {
      background-color: rgba(0, 183, 183, 0.914);
    }
    .nav {
      display: block;
    }
  }

  .first-h1 {
    font-weight: bold;
    padding: 5px 5px 15px 5px;
    margin-bottom: 3px;
    margin-left: 10px;
    font-size: 30px;
  }
</style>
