---
import Layout from '@/layouts/Layout.astro';

// Componentes
import FirstCarrousel from '@/components/FirstCarrousel.astro';
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
import Publications from '@/components/Publications.astro';
import MiniNav from '@/components/MiniNav.astro';
import Nav from '@/components/Nav.astro';

const COLOR_SCHEME = '#13151a';
---

<Layout
  title="Slimbuuk - Los mejores ordenadores Linux y Windows"
  description="Slimbuuk es un sitio web con un enfoque de compartir información sobre los mejores ordenadores Linux y Windows."
>
  <div class="container">
    <header class="header">
      <Header />
    </header>

    <div class="mini-nav">
      <MiniNav />
    </div>

    <div class="nav">
      <Nav />
    </div>

    <div class="aside">
      <FirstCarrousel />
    </div>

    <section class="main">
      <Publications />
    </section>

    <footer class="footer">
      <Footer />
    </footer>
  </div>
</Layout>

<style define:vars="{{ colorScheme: COLOR_SCHEME }}">
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 75px 1fr 1fr 1fr;
    min-height: 100vh;
    grid-template-areas:
      'header header mini-nav'
      'aside aside aside'
      'main main main'
      'footer footer footer';
  }
  .header {
    background-color: var(--colorScheme);
    grid-area: header;
  }
  .nav {
    /* background-color: var(--colorScheme); */
    background-color: rgb(3, 114, 114);
    grid-area: nav;
    display: none;
  }
  .mini-nav {
    background-color: var(--colorScheme);
    grid-area: mini-nav;
  }

  .aside {
    background-color: var(--colorScheme);
    grid-area: aside;
  }
  .main {
    background-color: rgb(3, 114, 114);
    grid-area: main;
  }
  .footer {
    background-color: rgb(78, 22, 2);
    grid-area: footer;
  }

  @media (width >= 600px) {
    .container {
      grid-template-areas:
        'header nav nav'
        'aside aside aside'
        'main main main'
        'footer footer footer';
    }
    .header {
      background-color: rgba(0, 183, 183, 0.914);
    }
    .nav {
      display: block;
    }
  }
</style>
