---
import FirstCarrousel from "../components/FirstCarrousel.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <div class="container">
    <div class="header">
      <h1>Slimbuuk</h1>
    </div>
    <div class="aside">
      <FirstCarrousel />
    </div>
    <div class="main"></div>
    <div class="footer"></div>
  </div>
</Layout>

<style>
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60px 1fr 1fr 1fr;
    min-height: 100vh;
    grid-template-areas:
      "header header header"
      "aside aside aside"
      "main main main"
      "footer footer .";
  }
  .header {
    background-color: rgb(78, 1, 1);
    grid-area: header;
  }
  .aside {
    background-color: rgb(1, 1, 68);
    grid-area: aside;
  }
  .main {
    background-color: rgb(3, 114, 114);
    grid-area: main;
  }
  .footer {
    background-color: rgb(78, 22, 2);
    grid-area: footer;
  }
</style>
