---

---

<div class="hola">
  <div class="slider-div">
    <a href="" class="">
      <img
        class="slider-img"
        src="/public/img/dos-laptop.webp"
        alt="imagen de dos laptops"
      />
    </a>
  </div>

  <div class="slider-div">
    <a href="" class="">
      <img
        class="slider-img"
        src="/public/img/laptop.webp"
        alt="una imagen de una laptop"
      />
    </a>
  </div>

  <div class="slider-div">
    <a href="" class="">
      <img
        class="slider-img"
        src="/public/img/torre.webp"
        alt="una imagen de una computadora de sobre mesa"
      />
    </a>
  </div>
</div>

<style>
  .hola {
    position: relative;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: bl; */
  }
  .slider-div:first-child {
    position: absolute;
    z-index: 3;
    opacity: 1;
  }
  .slider-div:nth-child(2) {
    position: absolute;
    z-index: 2;
    opacity: 0;
  }
  .slider-div:nth-child(3) {
    position: absolute;
    z-index: 1;
    opacity: 0;
  }
  img {
    width: 100px;
    height: 100px;
  }
  @media (width >= 500px) {
    img {
      width: 450px;
      height: 450px;
    }
  }
</style>
