---
import { type Carrousel } from '../types/carrousel';
import carrousel from '../json/carrousel.json';

const carrouselData: Carrousel[] = carrousel;
// console.log(carrousel);
---

<div class="embla">
  <div class="embla__container">
    {
      carrouselData.map((carrousel) => (
        <div class="embla__slide flex flex-col justify-center items-center">
          <h2 class="text-2xl">{carrousel.title}</h2>
          <a href="" class="">
            <img class="" src={carrousel.image} alt={carrousel.title} />
          </a>
        </div>
      ))
    }
  </div>
</div>
<style>
  img {
    width: 100px;
    height: 100px;
  }
  @media (width >= 500px) {
    img {
      width: 450px;
      height: 450px;
    }
  }

  /* embla carousel */
  .embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
  }
</style>

<script>
  import EmblaCarousel from 'embla-carousel';
  import Autoplay from 'embla-carousel-autoplay';

  const emblaNode: HTMLElement = document.querySelector(
    '.embla',
  ) as HTMLElement;
  const options = { loop: false };
  const plugins = [Autoplay()];
  const emblaApi = EmblaCarousel(emblaNode, options, plugins);

  console.log(emblaApi.slideNodes()); // Access API
</script>
