<div class="footer-div">
  <h3 class="footer-h3">Aqui el footer</h3>
  <div class="one1">1</div>
  <div class="one2">2</div>
</div>

<style>
  .footer-div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    margin: 0 auto;
    gap: 10px;
    justify-content: center;
    max-width: 500px;
  }
  .footer-h3 {
    text-align: center;
    color: rgb(183, 237, 255);
  }
  .one1,
  .one2 {
    background-color: rgba(100, 100, 100, 0.781);
    font-size: 20px;
    color: black;
    padding: 5px;
    margin: 5px;
    text-align: center;
  }
</style>
