<section class="flex flex-col gap-4 bg-black justify-center">
  <h3 class="text-center text-white text-2xl font-bold">Aqui el footer</h3>
  <div class="flex justify-center flex-row gap-1 p-0">
    <div class="bg-gray-700 text-xl p-4 m-1 text-center">1</div>
    <div class="bg-gray-700 text-xl p-4 m-1 text-center">2</div>
    <div class="bg-gray-700 text-xl p-4 m-1 text-center">3</div>
  </div>
</section>
