<div class="myH1">
  <h1 class="first-h1">Slimbuuk</h1>
</div>

<style>
  .myH1 {
    position: relative;
    display: flex;
    color: aliceblue;
  }
  .first-h1 {
    font-weight: bold;
    padding: 5px 5px 15px 5px;
    margin-bottom: 3px;
    margin-top: 5px;
    margin-left: 5px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 28px;
  }
  @media (width >= 600px) {
    .first-h1 {
      font-size: 38px;
    }
  }
</style>
