<div>
  <p>Aqui va nuestro contenido principal sobre nuestra Tienda en linea</p>
</div>

<style>
  p {
    text-align: center;
    padding: 10px;
    text-wrap: wrap;
    font-size: 20px;
    font-weight: 700;
    margin: 5px;
  }
</style>
