<div class="midiv">
  <h3 class="main-h3">
    Aqui va nuestro contenido principal sobre nuestra Tienda en linea
  </h3>
  <div class="main-header">
    <p class="main-p">Hello world</p>
    <p class="main-p">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore
      accusantium iure quibusdam ex architecto. Suscipit velit tempore
      blanditiis excepturi natus nostrum quod harum minima, placeat facilis
      eaque magni dignissimos quia.
    </p>
    <p class="main-p">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore
      accusantium iure quibusdam ex architecto. Suscipit velit tempore
      blanditiis excepturi natus nostrum quod harum minima, placeat facilis
      eaque magni dignissimos quia.
    </p>
    <p class="main-p">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore
      accusantium iure quibusdam ex architecto. Suscipit velit tempore
      blanditiis excepturi natus nostrum quod harum minima, placeat facilis
      eaque magni dignissimos quia.
    </p>
  </div>
</div>

<style>
  .midiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-h3 {
    padding: 3px;
    text-align: center;
    padding: 10px;
    text-wrap: wrap;
    font-size: 20px;
    font-weight: 700;
    margin: 5px;
  }
  .main-header {
    background-color: azure;
    width: 80%;
    max-width: 800px;
    height: min-content;
    margin: 15px 0;
    padding: 5px;
  }
  .main-p {
    color: black;
  }
</style>
