---
import { type Publication } from '@/types/publications.ts';
import publication from '@/data/publications.json';

const publications: Publication[] = publication;
---

<section class="publications">
  <h2 class="text-2xl font-bold text-center">Ultimas Publicaciones</h2>
  <div class="flex gap-2 px-3 justify-center">
    {
      publications.map((publication) => (
        <article class=" ">
          <h3 class="text-xl font-bold">{publication.title}</h3>
          <img
            src={publication.image}
            alt=""
            class="w-full opacity-90 hover:opacity-100 transition-opacity"
          />
        </article>
      ))
    }
  </div>
</section>
